@charset "utf-8";
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
   height: 100vh;
   font-size: 10px;
}
a{
    text-decoration: none;
    color: #333;
}
ul{
    list-style: none;
}
img{
   width: 100%;
}

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;400;700&display=swap');


footer{
   position: relative;
   width: 100%;
   height: 560px;
   overflow: hidden;
}

footer a{
   font-size: 1.6rem;
    font-family: 'Noto Sans KR', sans-serif;
}

footer p{
   font-size: 1.6rem;
    font-family: 'Noto Sans KR', sans-serif;
}

.nyFooterBox1 {
    width: 100%;
    height: 560px;
    position: relative;
    overflow: hidden;
}

.nyFooterBox1>div {
   position: absolute;
}

footer div{
    left: 0; top:0px;
}

.nySend {
   position: absolute;
   width: 100%;
   top: 140px;
}

.nyWave1 {
    animation: nyRight 25s infinite;
    position: relative;
    top: 120px;
    width: 100%;
}

 @keyframes nyRight {
   0% {left:0; top: 80px;}
    50% {left:-1000px; top: 120px;}
    100% {left: 0px; top: 80px;}
 }

 .nyWave2 {
    animation: nyLeft 20s infinite;
    position: relative;
    left: 0px;
    top: 100px;
    width: 100%;
}
.nyWave2 img{
   width: 100%;
}

 @keyframes nyLeft {
   0% {left:0; top: 50px;}
    50% {left:-1000px; top: 100px;}
    100% {left: 0px; top: 50px;}
 }
 .nyFooterBottom {
    width: 1500px;
    margin: 0 auto;
 }
 .nyFooterIcon1{
   position: absolute;
    left: 270px;
    top: 130px;
 }
 .nySea{
   /* left: -300px; */
   top: -100px;
   left: 100px;
   position: absolute;
}
 .nyFooterIcon2 img{
   right: -120px;
   top: 60px;
   position: absolute;
 }

 .nyFooterNav{
    background: #fff;
    position: relative;
    width: 1400px;
    margin: 0 auto;
    left: 16%;
    top: 320px;
    height: 75px;
    border-radius: 50px;
 }
 
 .nyFooterNav ul{
    display: flex;
    justify-content: space-evenly;
    /* line-height: 75px; */
 }
 .nyFooterNavMain li:hover {
   font-weight: 700;
 }
 .nyFooterNav ul{
   padding: 25px 0;
 }
 .nyFooterNav ul li a{
   font-size: 16px;
   padding-bottom: 10px;
 }
 .nyFooterNav ul li a::after {
   content:'' ;
   display: block;
   height: 2px;
   margin-top: 2px;
   background: #003999;
   transition: .3s;
   transform: scaleX(0);
   /* transform-origin: 0 0; */
}

.nyFooterNav ul li a:hover::after{
   transform: scaleX(1);
}
.nyFooterIcon3 .nyShip1 img{
   top: 450px;
   position: absolute;
   animation: ship1 15s infinite;
   left: 1560px;
}
.nyFooterIcon3 .nyShip1 img:nth-of-type(2){
   width: 100px;
   top: 500px;
}
@keyframes ship1 {
   0% {left: 1500px; }
   66% {left: 1920px}
   100% {left: 1500px; }
}

.nyFooterIcon3 .nyShip2 {
   position: absolute;
   top: 400px;
   left: 100px;
   animation: ship2 15s infinite;
}
@keyframes ship2 {
   0% {top: 400px; }
   33% {top:430px}
   66% {top: 400px; }
   100% {top:430px}
}

.nyFooterIcon4 img{
   width: 80px;
   position: absolute;
}
.nyFooterIcon4 .nywaves1 img{
   top: 400px;
   left: 40px;
   animation: nyWave1 3s infinite;
}
@keyframes nyWave1 {
   0% {left: 40px; opacity: 1;}
   100% {left:70px; opacity: 0;}
}
.nyFooterIcon4 .nyWaves2 img{
   top: 500px;
   animation: nyWave2 3s infinite;
}
@keyframes nyWave2 {
   0% {left: 240px; opacity: 0;}
   100% {left:270px; opacity: 1;}
}
.nyFooterIcon4 .nyWaves3 img{
   top: 425px;
   width: 120px;
   animation: nyWave3 3s infinite;
}
@keyframes nyWave3 {
   0% {left: 450px; opacity: 0;}
   100% {left:320px; opacity: 1;}
}
.nyFooterIcon4 .nyWaves4 img{
   top: 425px;
   width: 120px;
   animation: nyWave4 3s infinite;
}
@keyframes nyWave4 {
   0% {left: 1430px; opacity: 0;}
   100% {left:1380px; opacity: 1;}
}
.nyFooterBox1 .nyOutTop{
   width: 90px;
   height: 90px;
}

.nyFooterBox1 .nyOutTop {
   position: absolute;
   text-align: center;
   left: 87%;
   line-height: 30px;
   top: 325px;
   opacity: 0.7;
}
.nyFooterBox1 .nyOutTop .nyTop{
   background: #003999;
   width: 65px;
   height: 65px;
   border-radius: 20px;
}
.nyFooterBox1 .nyTop a{
   color: #fff;
}
.nyFooterBox1 .nyOutTop:hover{
   background: #000;
   top: 300px;
   transition: 0.3s;
   opacity: 1;
}
.nyFooterBox1 .nyFooterTexts{
   left: 33%;
   top: 460px;
   text-align: center;
   color: #fff;

}
.nyFooterBox1 .nyFooterTexts p{
   font-weight: 700;
}