@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;400;700&display=swap');
/* reset */
* {
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
}
html {
    font-size: 10px;
}
body {
    font: 1.5rem 'Noto Sans KR', sans-serif;
    color: #333;
}
/* comon */
/* header */
li {
    list-style: none;
}

/* header */
header {
    position: fixed;
    width: 100%;
    z-index: 9999;
}
header ul {
    height: 54px;
    padding: 0 16px;
    display: flex;
    align-items: center;
}
.logo1{
    position: relative;
}
.logo1 h1{
    position: absolute;
    top: 0%;
}
.logo1 i{
    color: #fff;
}
.header ul {
    height: 54px;
    padding: 0 32px;
    display: flex;
    align-items: center;
    top: -10;
}
.header li {
    margin: 0 8px;
    list-style: none;
}
.header a {
    padding: 4px 16px;
}
.header a:hover {
    background: #ccc;
}
.nav li {
    margin: 32px 0 0;
}
.nav {
    position: relative;
    align-self:center;
    width: 100px;
}
