@charset "utf-8";

/* reset */
* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}

body {
    background: #fff;
}
li {
    list-style: none;
}
img {
    vertical-align: top;
}
/* font */
html {
    font-size: 10px;
}
body {
    font-size: 1.5rem;
}
/* header */
header {
    width: 100%;
    height: 170px;
    background: #fff;
}
.top_warp {
    display: flex;
    justify-content: space-between;
}

.global_menu {
    background: #ffd;
    display: flex;
    padding: 16px;
}
.top_util {
    padding: 16px;
    background: #fff;
    display: flex;

}
.top_members, .top_sns {
    display: flex;
}
.global_menu a, .top_members li, .top_members li {
    padding: 0 8px;
}
.top_sns a {
    padding: 0 8px;
}
.top_logo {
    display: flex;
    justify-content: center;
    padding: 8px;
}
/* nav */
#nav ul{
    background: lightblue;
    display: flex;
    justify-content: center;
}
#nav  li {
    padding: 24px 32px;
}



/* section1 */

/* section common */
.container {
    width: 1520px;
    margin: 0 auto;
}

/* section2 */


/* section3 */
.cos ul {
    display: flex;
}
.cos li {
    width: 272px;
    margin-right: 40px;
}
.cos span {
    position: absolute;
}
/* section4 */

/* footer */