@charset "utf-8";
@import url(reset.css);
@import url(typo.css);

/* header */
header {
    width: 100%;
    height: 170px;
    background: #fff;
}

.top_warp {
    display: flex;
    justify-content: space-between;
}

.global_menu {
    background: #add8e6;
    display: flex;
    padding: 16px;
}

.top_util {
    padding: 16px;
    background: #add8e6;
    display: flex;

}

.top_members,
.top_sns {
    display: flex;
}

.global_menu a,
.top_members li,
.top_members li {
    padding: 0 8px;
}

.top_sns a {
    padding: 0 8px;
}

.top_logo {
    display: flex;
    justify-content: center;
    padding: 8px;
}

.top_util input {
    border: none;
    height: 15px;
}

/* nav */
#nav>ul {
    background: #add8e6;
    display: flex;
    justify-content: center;
}

#nav>ul>li {
    position: relative;
    padding: 24px 32px;
}

/* .sub */
.sub {
    display: flex;
    justify-content: center;
}

.sub li {
    display: none;
}

#nav>ul>li:hover .sub li {
    z-index: 3;
    display: block;
    background: #fff;

}

.sub {
    margin-top: 20px;
}

.sub>li>a {
    font-size: 1.5rem;
    font-family: 'Courier New', Courier, monospace;
    color: #000;
}

/* .ssub */
.ssub a {
    font-size: 1rem;
    font-family: 'Courier New', Courier, monospace;
    color: #000;
}



/* section1 */
#slide {
    width: 100%;
    position: relative;
    background: #000;
}

/* 슬라이드 */
#slide .frame {
    overflow: hidden;
}

#slideList {
    position: relative;
    display: flex;
}

#slideList.on {
    transition: .3s;
}

/* 좌우 버튼 */
#slide .controls {
    position: absolute;
    width: 100%;
    top: 50%;
    background: red;
}

#slide .controls a {
    position: absolute;
}

#prevBtn {
    left: calc(50% - 700px);
}

#nextBtn {
    right: calc(50% - 700px);
}

/* 페이저 */
#slide .pager {
    display: flex;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 60px;
}

#slide .pager li {
    margin: 0 12px;
}

#slide .pager li.active a {
    color: red;
}

#slide .pager li a {
    color: #fff;
}


/* slide */
/* #slide {
    overflow: hidden;
}

#slide ul {
    position: relative;
    display: flex;
    left: 0;
    width: 1100%;
    animation: slide 25s infinite;
}
#slide ul li {
    width: 100%;
}

@keyframes slide {
    0% {
        left: 0;
    }

    1% {
        left: -100%;
    }

    10% {
        left: -100%;
    }

    11% {
        left: -200%;
    }

    20% {
        left: -200%;
    }

    21% {
        left: -300%;
    }
    30% {
        left: -300%;
    }
    31% {
        left: -400%;
    }
    40% {
        left: -400%;
    }
    41% {
        left: -500%;
    }
    50% {
        left: -500%;
    }
    51% {
        left: -600%;
    }
    60% {
        left: -600%;
    }
    61% {
        left: -700%;
    }
    70% {
        left: -700%;
    }
    71% {
        left: -800%;
    }
    80% {
        left: -800%;
    }
    81% {
        left: -900%;
    }
    90% {
        left: -900%;
    }
    91% {
        left: -1000%;
    }
    99.99% {
        left: -1000%;
    }

    100% {
        left: 0;
    }
} */


/* section common */
.container {
    width: 1520px;
    margin: 0 auto;
    overflow: hidden;
}

.container h2 {
    margin: 27px 0 27px;
    border-bottom: 2px solid #dedede78;
}

h2+p {
    margin-bottom: 81px;
}

/* section2 */


/* section3 */
/* .crl {
    background: #000;
} */
#carousel1 .slideWrap img {
    vertical-align: top;
    width: 100%;
}
#carousel1 .slideWrap {
    position: relative;
    width: 1500px;
    margin: 0 auto;
}
/* prev/next */
#carousel1 .slideWrap .btn {
    position: absolute;
    left: 0;
    top: 50%;
    height: 50px;
    z-index: 999;
    transform: translateY(-50%);
    width: 100%;
}

#carousel1 .slideWrap .btn a {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    line-height: 1;
    font-size: 5rem;
    color: #fff;
    transition: color .3s;
}

#carousel1 .slideWrap .btn a:hover {
    color: #000121;
}

#carousel1 .slideWrap #prev {
    left: 10%;
}

#carousel1 .slideWrap #next {
    right: 10%;
}


/* 캐로셀 */
/* .crl {
    position: relative;
}

.multiSlider span {
    position: absolute;
    top: 80%;
    background: #000000a4;
    width: 272px;
    height: 78px;
    line-height: 78px;
} */


/* #slideWrap .outbox a {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50% -50%);
    width: 100px;
    height: 100px;
    background: #000;
    border-radius: 50%;
    text-align: center;
    line-height: 100px;
} */


/* #slideWrap img {
    vertical-align: top;
}
#slideWrap {
    position: relative;
} */
/* prev/next */
/* #slideWrap .btn {
    position: absolute;
    left: 0;
    top: 50%;
    height: 50px;
    z-index: 999;
    transform: translateY(-50%);
    width: 100%;
}

#slideWrap .btn a {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    line-height: 1;
    font-size: 5rem;
    color: #fff;
    transition: color .3s;
}

#slideWrap .btn a:hover {
    color: #000121;
}

#slideWrap #prev {
    left: 10%;
}

#slideWrap #next {
    right: 10%;
} */


/* section4 */
.tabs {
    margin: 0 auto;
}

.tabs input,
.tabs #tab1,
.tabs #tab2,
.tabs #tab3,
.tabs #tab4 {
    display: none;
}

#btn1:checked~#tab1,
#btn2:checked~#tab2,
#btn3:checked~#tab3,
#btn4:checked~#tab4 {
    display: block;
}

.tabs label {
    display: inline-block;
    background: lightcoral;
    color: #fff;
    cursor: pointer;
    width: 376px;
    height: 54px;
    font-size: 1.6rem;
    text-align: center;
    line-height: 54px;
    margin-bottom: 27px;
}

#btn1:checked+label,
#btn2:checked+label,
#btn3:checked+label,
#btn4:checked+label {
    background: #004E27;
    color: #fff;
}

#btn1:hover+label {
    background: #fff;
}

.tabs img {
    width: 376px;
}

/* section5 */

/* section6 */
#icons>div {
    width: 1300px;
    margin: 0 auto;
}

#icons ul {
    display: flex;
}

#icons li {
    width: 24%;
    text-align: center;
}

#icons li:hover {
    background: #ccc;
}

#icons a {
    color: #000;
}

#icons img {
    padding-top: 27px;
}

#icons span {
    margin: 27px 0;
    display: block;
}

/* section7 */
#news>div {
    justify-content: center;
}

#new1 {
    margin-bottom: 83px;
}

#new1 li {
    width: 610px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
}

/* 4개 다 사용해야 적용가능 */
#news>div {
    display: flex;
}

#new1 a {
    width: 450px;
    white-space: nowrap;
    text-overflow: ellipsis;
    /* 말줄임 ...효과 */
    overflow: hidden;
}

#new2 {
    margin-left: 100px;
}

#news h3 {
    margin-bottom: 30px;
}

#new2 ul {
    display: flex;
}

#new2 i {
    margin: 16px 50px;
    text-align: center;
    line-height: 100px;
}

#new2 li:nth-of-type(1):hover i {
    color: #1c9ce4;
    transform: scale(3, 3);
}

#new2 li:nth-of-type(2):hover i {
    color: #395498;
    transform: scale(3, 3);
}

#new2 li:nth-of-type(3):hover i {
    color: #ff0000;
    transform: scale(3, 3);
}

#new2 li:nth-of-type(4):hover i {
    background: linear-gradient(to top left, #f60065, blue);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transform: scale(3, 3);
}

/* footer */
footer {
    padding: 0 250px;
    height: 526px;
}
#Address {
    display: flex;
    justify-content: space-between;
}

footer .adr div {
    display: flex;
    margin: 27px 0;
}


#ft3 {
    border-top: 1px solid #888;
    margin-top: 54px;
}
#ftul ul {
    margin-top: 40px;
    display: flex;
}
#ftul ul li {
    margin-right: 45px;
}
#ftul ul .yellow1 {
    color: yellow;
}