{{>layouts/header}}
{{#coffee}}
    <form action="/articles/coffee/cupdate" class="container" method="post">
        <input name="id" type="hidden" value="{{id}}">
        <div class="mb-3">
            <label for="name" class="form-label">제목</label>
            <input type="text" class="form-control" name="name" id="name" value="{{name}}">
        </div>
        <div class="mb-3">
            <label for="price" class="form-label">내용</label>
            <textarea name="price" id="price" cols="30" rows="10">{{price}}</textarea>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
        <a href="/articles/coffee/{{id}}">Back</a>
    </form>
{{/coffee}}


{{>layouts/footer}}