@charset "utf-8";

/* ctrl+f: 찾기 */

/* 초기화 */
* {
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
    list-style: none;
}
img {
    width: 100%;
}

/* 공통 */

#wrap {
    /* 가운데 맞춤 */
    width: 1200px;
    margin: 0 auto;
}

header,
#contents,
footer {
    /*  float: left; */
    display: flex;
}

/* 헤더 */
header {
    background-color: lightblue;
}

/* 로고 */
.logo {
    width: 200px;
    height: 100px;
    background: lightpink;
}

/* 네비게이션 */
nav {
    width: 1000px;
    height: 100px;
    background: lightsalmon;
}

/* 슬라이드 */
#slide {
    height: 300px;
    background: lightcoral;
    overflow: hidden;
}
#slide ul {
    position: relative;
    left: 0;
    display: flex;
    width: 400%;
    animation: slide 9s infinite;
}
@keyframes slide {
    0% {left:0;}
    5% {left:-100%;}
    33% {left:-100%;}
    38% {left:-200%;}
    66% {left:-200%;}
    71% {left:-300%;}
    99.99% {left:-300%;}
    100% {left:0;}
}


/* 메인컨텐츠 */
#contents div {
    width: 400px;
    height: 200px;
}

.tabs {
    background: lavender;
}

.banner {
    background: darkcyan;
}

.shortcut {
    background: greenyellow;
}

/* 푸터 */
.b_logo {
    width: 200px;
    height: 100px;
    background: floralwhite;
}

.addr {
    width: 800px;
    height: 100px;
    background: bisque;
}

.sns {
    width: 200px;
    height: 100px;
    background: lightslategray;
}