@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;400;500&display=swap');
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/brands.min.css");
/* ctrl+f: 찾기 */

/* 초기화 */
* {
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
    list-style: none;
}

html {
    font-size: 10px;
}

li {
    list-style: none;
}

img {
    width: 100%;
}

/* 공통 */
#wrap {
    /* 가운데 맞춤 */
    width: 1200px;
    margin: 0 auto;
}

header {
    /*  float: left; */
    display: flex;
}
body {
    font: 1.5rem/1.8 'Noto Sans KR', sans-serif;
    color: #333;
}
a {
    text-decoration: none;
    color: #777;
}
/* 헤더 */
header {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
/* 로고 */
.logo {
    width: 200px;
}

/* 네비게이션 */
nav .main {
    display: flex;
}
nav .main > li > a {
    color: #fff;
    font-size: 1.8rem;
}
nav li {
    text-align: center;
    margin-left: 8px;
    width: 150px;
    background: #F9CF00;
}
nav .sub {
    display: none;
}

/* 슬라이드 */
#slide {
    height: 300px;
    background: lightcoral;
    overflow: hidden;
}
#slide ul {
    position: relative;
    left: 0;
    display: flex;
    width: 400%;
    animation: slide 9s infinite;
}
@keyframes slide {
    0% {left:0;}
    5% {left:-100%;}
    33% {left:-100%;}
    38% {left:-200%;}
    66% {left:-200%;}
    71% {left:-300%;}
    99.99% {left:-300%;}
    100% {left:0;}
}


/* 메인컨텐츠 */

#contents {
    /*  float: left; */
    display: flex;
    padding: 8px 0;
    justify-content: space-between;
}
#contents div {
    width: 380px;
    height: 200px;
}


/* 탭 메뉴 */
.tabs {
    padding: 24px 24px 24px 0;
    background-clip: content-box;
    margin-right: 20px;
}

.tabs input, .tabs #tab1, .tabs #tab2 {
    display: none;
}
#btn1:checked ~ #tab1, #btn2:checked ~#tab2 {
    display: block;
}
/*  탭 메뉴 - 제목/버튼 */
.tabs label {
    display: inline-block;
    background: #EBDACA;
    color: #000;
    padding: 4px 16px;
    margin-bottom: 8px;
    cursor: pointer;
    font-size: 1.6rem;
    font-weight: 500;
}
#btn1:checked + label, #btn2:checked + label {
    background: #004E27;
    color: #fff;
}


/*  탭 메뉴 - 공지사항 */
#tab1 li {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
}
/* 4개 다 사용해야 적용가능 */
#tab1 a {
    width: 250px;
    white-space: nowrap;
    text-overflow: ellipsis;
    /* 말줄임 ...효과 */
    overflow: hidden;
}

#tab1 a:hover {
    color: #333;
}

span {
    color: #777;
}
/*  탭 메뉴 - 갤러리 */
/* #tab2 ul {
    display: flex;
    justify-content: space-between;
    padding: 8px 8px 0px;
} */

#tab2 a {
    display: inline-block;
    width: 110px;
    margin-right: 8px;
}

/* 푸터 */
footer {
    background: #333;
    color: #777;
    display: flex;
    align-content: center;
}
.fot {
    width: 300px;
    background: url(../images/logo2-2.png) no-repeat;
    margin-left: 40px; 
    margin-top: 30px;
}
.addr {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 700px;
    height: 100px;
    text-align: center;
}

.sns {
    /* flex: glow shrink basis 
    flex: 0 1 auto; */
    height: 100px;
    display: flex;
    align-items: center;
    font-size: 3rem;
    margin-left: 100px;
    padding: 32px;
}
.sns a {
    margin-right: 16px;
    transition: .3s;
}
.sns a:hover {
    transform: scale(1.2);
}
.sns a:nth-of-type(1):hover {
    color: #1c9ce4;
}
.sns a:nth-of-type(2):hover {
    color: #395498;
}
.sns a:nth-of-type(3):hover {
    color: #f60065;
}